<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.dzt.dao.IClothDAO">
	<resultMap id="cloth_DB_Result" type="cloth">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="brand" property="brand" />
		<result column="model_num" property="modelNum" />
		<result column="pic" property="pic" />
		<result column="adv_pic" property="advPic" />
		<result column="color" property="color" />
		<result column="flowers" property="flowers" />
		<result column="form" property="form" />
		<result column="weight" property="weight" />
		<result column="yarn" property="yarn" />
		<result column="price" property="price" />
		<result column="location" property="location" />
		<result column="order_no" property="orderNo" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="model_code" property="modelCode" />
		<result column="model_specs_code" property="modelSpecsCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="brand != null and brand != '' ">
				AND t.brand = #{brand}
			</if>
			<if test="modelNum != null and modelNum != '' ">
				AND t.model_num = #{modelNum}
			</if>
			<if test="color != null and color != '' ">
				AND t.color = #{color}
			</if>
			<if test="flowers != null and flowers != '' ">
				AND t.flowers = #{flowers}
			</if>
			<if test="form != null and form != '' ">
				AND t.form = #{form}
			</if>
			<if test="yarn != null and yarn != '' ">
				AND t.yarn = #{yarn}
			</if>
			<if test="location != null and location != '' ">
				AND t.location = #{location}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="modelSpecsCode != null and modelSpecsCode != '' ">
				AND t.model_specs_code = #{modelSpecsCode}
			</if>
			<if test="modelCode != null and modelCode != '' ">
				AND t.model_code = #{modelCode}
			</if>
			<if test="modelStatus != null and modelStatus != '' ">
				AND tm.status = #{modelStatus}
			</if>
		</trim>
	</sql>
	<select id="select_cloth" parameterType="cloth" resultMap="cloth_DB_Result">
		SELECT
		t.code
		,t.type
		,t.brand
		,t.model_num
		,t.pic
		,t.adv_pic
		,t.color
		,t.flowers
		,t.form
		,t.weight
		,t.yarn
		,t.price
		,t.location
		,t.order_no
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		,t.model_code
		,t.model_specs_code
		FROM
		tdzt_cloth t INNER JOIN tdzt_model tm ON t.model_code = tm.code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_cloth_count" parameterType="cloth"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdzt_cloth t INNER JOIN tdzt_model tm ON t.model_code = tm.code
		<include refid="where_condition" />
	</select>

	<insert id="insert_cloth" parameterType="cloth">
		INSERT INTO
		tdzt_cloth(
		code
		,type
		,brand
		,model_num
		,pic
		,adv_pic
		,color
		,flowers
		,form
		,weight
		,yarn
		,price
		,status
		,updater
		,update_datetime
		,remark
		,model_code
		,model_specs_code
		)
		VALUES(
		#{code}
		,#{type}
		,#{brand}
		,#{modelNum}
		,#{pic}
		,#{advPic}
		,#{color}
		,#{flowers}
		,#{form}
		,#{weight}
		,#{yarn}
		,#{price}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{modelCode}
		,#{modelSpecsCode}
		)
	</insert>

	<update id="update_cloth" parameterType="cloth">
		UPDATE tdzt_cloth
		SET
		type = #{type}
		,brand = #{brand}
		,model_num = #{modelNum}
		,pic = #{pic}
		,adv_pic = #{advPic}
		,color = #{color}
		,flowers = #{flowers}
		,form = #{form}
		,weight = #{weight}
		,yarn = #{yarn}
		,price = #{price}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		,model_code = #{modelCode}
		,model_specs_code = #{modelSpecsCode}
		WHERE code = #{code}
	</update>

	<update id="update_putOn" parameterType="cloth">
		UPDATE tdzt_cloth
		SET
		location=#{location}
		,order_no=#{orderNo}
		,status=#{status}
		,updater=#{updater}
		,update_datetime=#{updateDatetime}
		
		,remark=#{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_putOff" parameterType="cloth">
		UPDATE tdzt_cloth
		SET
		status=#{status}
		,updater=#{updater}
		,update_datetime=#{updateDatetime}
		
		,remark=#{remark}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_cloth" parameterType="cloth">
		DELETE FROM
		tdzt_cloth
		where 
		code=#{code}
	</delete>

</mapper>