<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.dzt.dao.ICraftDAO">
	<resultMap id="craft_DB_Result" type="craft">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="name" property="name" />
		<result column="pic" property="pic" />
		<result column="adv_pic" property="advPic" />
		<result column="price" property="price" />
		
		<result column="location" property="location" />
		<result column="order_no" property="orderNo" />
		<result column="status" property="status"/>
		<result column="updater" property="updater"/>
		<result column="update_datetime" property="updateDatetime"/>
		<result column="remark" property="remark" />
		<result column="model_code" property="modelCode" />
		
		<result column="model_name" property="model.name" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="location != null and location != '' ">
				AND t.location = #{location}
			</if>
			<if test="modelCode != null and modelCode != '' ">
				AND t.model_code = #{modelCode}
			</if>
			<if test="modelStatus != null and modelStatus != '' ">
				AND tm.status = #{modelStatus}
			</if>
		</trim>
	</sql>
	<select id="select_craft" parameterType="craft" resultMap="craft_DB_Result">
		SELECT
		t.code
		,t.type
		,t.name
		,t.pic
		,t.adv_pic
		,t.price
		
		,t.location
		,t.order_no
		,t.status
		,t.updater
		,t.update_datetime
		
		,t.remark
		,t.model_code
		,tm.name model_name
		FROM
		tdzt_craft t INNER JOIN tdzt_model tm ON t.model_code = tm.code
		<include refid="where_condition" />
		ORDER BY order_no
	</select>

	<select id="select_craft_count" parameterType="craft"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdzt_craft t INNER JOIN tdzt_model tm ON t.model_code = tm.code
		<include refid="where_condition" />
	</select>

	<insert id="insert_craft" parameterType="craft">
	INSERT INTO 
	tdzt_craft
        (code,
         type,
         name,
         pic,
         adv_pic,
         price,
         status,
         updater,
         update_datetime,
         remark,
         model_code)
	VALUES (
	  #{code}
     ,#{type}
     ,#{name}
     ,#{pic}
     ,#{advPic}
     ,#{price}
     ,#{status}
     ,#{updater}
     ,#{updateDatetime}
     ,#{remark}
     ,#{modelCode}
     );
	</insert>

	<update id="update_craft" parameterType="craft">
		UPDATE tdzt_craft
		SET
		type = #{type}
		,name = #{name}
		,pic = #{pic}
		,adv_pic=#{advPic}
		,price = #{price}

		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		,model_code=#{modelCode}
		WHERE code = #{code}
	</update>

	<update id="update_putOn" parameterType="craft">
		UPDATE tdzt_craft
		SET
		location=#{location}
		,order_no=#{orderNo}
		,status=#{status}
		,updater=#{updater}
		,update_datetime=#{updateDatetime}
		
		,remark=#{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_putOff" parameterType="craft">
		UPDATE tdzt_craft
		SET
		status=#{status}
		,updater=#{updater}
		,update_datetime=#{updateDatetime}
		
		,remark=#{remark}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_craft" parameterType="craft">
		DELETE FROM
		tdzt_craft
		where 
		code=#{code}
	</delete>
	
	<select id="select_craft_group" parameterType="craft"
		resultType="java.lang.Long">
		SELECT COUNT(tm.code) FROM (SELECT * FROM tdzt_craft t WHERE model_code=#{modelCode} AND STATUS='1' GROUP BY type) tm;
		<include refid="where_condition" />
	</select>
</mapper>