<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.dzt.dao.ICraftDAO">
	<resultMap id="craft_DB_Result" type="craft">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="name" property="name" />
		<result column="pic" property="pic" />
		<result column="adv_pic" property="advPic" />
		
		<result column="order_no" property="orderNo" />
		<result column="status" property="status"/>
		<result column="updater" property="updater"/>
		<result column="update_datetime" property="updateDatetime"/>
		<result column="remark" property="remark" />
		<result column="model_code" property="modelCode" />
		
		<result column="model_name" property="model.name" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="modelCode != null and modelCode != '' ">
				AND t.model_code = #{modelCode}
			</if>
			
		</trim>
	</sql>
	<select id="select_craft" parameterType="craft" resultMap="modelSpecs_DB_Result">
		SELECT
		t.code
		,t.type
		,t.name
		,t.pic
		,t.adv_pic
		
		,t.order_no
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		,t.model_code
		,tm.name model_name
		FROM
		tdzt_craft t INNER JOIN tdzt_model tm ON t.model_code = tm.code
		<include refid="where_condition" />
		ORDER BY order_no
	</select>

	<select id="select_craft_count" parameterType="craft"
		resultType="java.lang.Long">
		SELECT count(1) FROM craft t
		<include refid="where_condition" />
	</select>

	<update id="update_craft" parameterType="craft">
		UPDATE tdzt_craft
		SET
		type = #{type}
		,name = #{name}
		,pic = #{pic}
		,adv_pic = #{advPic}
		,order_no = #{orderNo}
		
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		,model_code=#{modelCode}
		WHERE code = #{code}
	</update>


</mapper>