<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.dzt.dao.IProductSpecsDAO">
	<resultMap id="productSpecs_DB_Result" type="productSpecs">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="brand" property="brand" />
		<result column="model_num" property="modelNum" />
		<result column="pic" property="pic" />
		<result column="adv_pic" property="advPic" />
		<result column="color" property="color" />
		<result column="flowers" property="flowers" />
		<result column="form" property="form" />
		<result column="weight" property="weight" />
		<result column="yarn" property="yarn" />
		<result column="price" property="price" />
		<result column="product_var_code" property="productVarCode" />
		<result column="product_code" property="productCode" />
		<result column="order_code" property="orderCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
			<if test="productVarCode != null and productVarCode != '' ">
				AND t.product_var_code = #{productVarCode}
			</if>
			<if test="orderCode != null and orderCode != '' ">
				AND t.order_code = #{orderCode}
			</if>
		</trim>
	</sql>
	<select id="select_productSpecs" parameterType="productSpecs" resultMap="productSpecs_DB_Result">
		SELECT
		t.code
		,t.name
		,t.type
		,t.brand
		,t.model_num
		,t.pic
		,t.adv_pic
		,t.color
		,t.flowers
		,t.form
		,t.weight
		,t.yarn
		,t.price
		,t.product_var_code
		,t.product_code
		,t.order_code
		FROM
		tdzt_product_specs t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_productSpecs_count" parameterType="productSpecs"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdzt_product_specs t
		<include refid="where_condition" />
	</select>

	<insert id="insert_productSpecs" parameterType="productSpecs">
		INSERT INTO
		tdzt_product_specs(
		code
		,name
		,type
		,brand
		,model_num
		,pic
		,adv_pic
		,color
		,flowers
		,form
		,weight
		,yarn
		,price
		,product_var_code
		,product_code
		,order_code
		)
		VALUES(
		#{code}
		,#{name}
		,#{type}
		,#{brand}
		,#{modelNum}
		,#{pic}
		,#{advPic}
		,#{color}
		,#{flowers}
		,#{form}
		,#{weight}
		,#{yarn}
		,#{price}
		,#{productVarCode}
		,#{productCode}
		,#{orderCode}
		)
	</insert>

	<update id="update_productSpecs" parameterType="productSpecs">
		UPDATE tdzt_product_specs
		SET
		product_code = #{productCode}
		WHERE order_code = #{orderCode}
	</update>
	
	<delete id="delete_productSpecs" parameterType="productSpecs">
		DELETE FROM
		tdzt_product_specs
		WHERE
		product_code = #{productCode}
	</delete>


	<delete id="delete_productSpecs_type" parameterType="productSpecs">
		DELETE FROM
		tdzt_product_specs
		WHERE
		order_code = #{orderCode} and type=#{type}
	</delete>
</mapper>