<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.IStockBackDAO">
	<resultMap id="stockBack_DB_Result" type="stockBack">
		<result column="id" property="id" />
		<result column="pool_code" property="poolCode" />
		<result column="stock_code" property="stockCode" />
		<result column="back_user" property="backUser" />
		<result column="back_amount" property="backAmount" />
		<result column="back_currency" property="backCurrency" />
		<result column="back_datetime" property="backDatetime" />
		<result column="company_code" property="companyCode" />
		<result column="system_code" property="systemCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="poolCode != null and poolCode != '' ">
				AND t.pool_code = #{poolCode}
			</if>
			<if test="backUser != null and backUser != '' ">
				AND t.back_user = #{backUser}
			</if>
			<if test="backCurrency != null and backCurrency != '' ">
				AND t.back_currency = #{backCurrency}
			</if>
			<if test="backDatetimeStart != null and backDatetimeStart != '' ">
				<![CDATA[AND t.back_datetime >= #{backDatetimeStart}]]>
			</if>	
			<if test="backDatetimeEnd != null and backDatetimeEnd != '' ">
				<![CDATA[AND t.back_datetime <= #{backDatetimeEnd}]]>
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	
	<select id="select_stockBack" parameterType="stockBack" resultMap="stockBack_DB_Result">
		SELECT
		t.id
		,t.pool_code
		,t.stock_code
		,t.back_user
		,t.back_amount
		
		,t.back_currency
		,t.back_datetime
		,t.company_code
		,t.system_code
		FROM
		to2o_stock_back t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_stockBack_count" parameterType="stockBack"
		resultType="java.lang.Long">
		SELECT count(1) FROM to2o_stock_back t
		<include refid="where_condition" />
	</select>

	<insert id="insert_stockBack" parameterType="stockBack">
		INSERT INTO
		to2o_stock_back(
		pool_code
		,stock_code
		,back_user
		,back_amount
		,back_currency
		
		,back_datetime
		,company_code
		,system_code
		)
		VALUES(
		#{poolCode}
		,#{stockCode}
		,#{backUser}
		,#{backAmount}
		,#{backCurrency}
		
		,#{backDatetime}
		,#{companyCode}
		,#{systemCode}
		)
	</insert>
</mapper>