<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.dzt.dao.ISwapDAO">
	<resultMap id="swap_DB_Result" type="swap">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="commenter" property="commenter" />
		<result column="receiver" property="receiver" />
		<result column="content" property="content" />
		<result column="comment_datetime" property="commentDatetime" />
		<result column="order_no" property="orderNo" />
		<result column="is_new" property="isNew" />
		<result column="status" property="status" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="commenter != null and commenter != '' ">
				AND t.commenter = #{commenter}
			</if>
			<if test="receiver != null and receiver != '' ">
				AND t.receiver = #{receiver}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="isNew != null and isNew != '' ">
				AND t.is_new = #{isNew}
			</if>
			<if test="lookUser != null and lookUser != '' ">
				AND (t.receiver = #{lookUser} OR t.commenter = #{lookUser})
			</if>
		</trim>
	</sql>
	<select id="select_swap" parameterType="swap" resultMap="swap_DB_Result">
		SELECT
		t.code
		,t.type
		,t.commenter
		,t.receiver
		,t.content
		,t.comment_datetime
		,t.order_no
		,t.is_new
		,t.status
		FROM
		tdzt_swap t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_swap_bfront" parameterType="swap" resultMap="swap_DB_Result">
		SELECT
		t.code
		,t.type
		,t.commenter
		,t.receiver
		,t.content
		,t.comment_datetime
		,t.order_no
		,t.is_new
		,t.status
		FROM
		tdzt_swap t
		where (t.receiver=#{receiver} and t.commenter=#{commenter}) or(t.receiver=#{commenter} and t.commenter=#{receiver})
	</select>

	<select id="select_swap_count" parameterType="swap"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdzt_swap t
		<include refid="where_condition" />
	</select>

	<insert id="insert_swap" parameterType="swap">
		INSERT INTO
		tdzt_swap(
		code
		,type
		,commenter
		,receiver
		,content
		,comment_datetime
		,order_no
		,is_new
		,status
		)
		VALUES(
		#{code}
		,#{type}
		,#{commenter}
		,#{receiver}
		,#{content}
		,#{commentDatetime}
		,#{orderNo}
		,#{isNew}
		,#{status}
		)
	</insert>

	<update id="update_swap" parameterType="swap">
		UPDATE tdzt_swap
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
	
	<update id="update_isNew" parameterType="swap">
		UPDATE tdzt_swap
		SET
		is_new = #{isNew}
		WHERE code = #{code}
	</update>
	
	<select id="select_swap_group" parameterType="swap" resultMap="swap_DB_Result">
		SELECT
		t.code
		,t.type
		,t.commenter
		,t.receiver
		,t.content
		,t.comment_datetime
		,t.order_no
		,t.is_new
		,t.status
		FROM
		tdzt_swap t where is_new ='1'
	</select>

</mapper>